{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}: Détail du parcours {% endblock %}

{% block body %}
<style>
    .wrapper {
        margin: 20px;
        /*max-width: 800px;*/
        width: 100%;
        font: 18px/1.5 sans-serif;
    }

    .wrapper code {
        background: #F5F5F5;
        /*padding: 2px 6px;*/
    }

    th, td {
        min-width: 120px;
        padding : 20px;
    }

    .long-col {
        min-width: 300px;
    }


</style>

<div class="wrapper">

    <h1> {{ parcours.name }} </h1>

    <br>
    <table>
        <tr>
            <th class="long-col"> Région </th>
            <th class="long-col"> Description </th>
            <th> Photo </th>
            <th> Durée </th>
            <th> Difficulté </th>
            <th> Coût </th>
            <th> Nb places </th>
            <th> Nb inscrits </th>
        <tr>
        <tr>
            <td class="long-col">{{ parcours.region.name }}</td>
            <td class="long-col">{{ parcours.description }}</td>
            <td>{{ parcours.coverPicture }}</td>
            <td>{{ parcours.duration }} jours</td>
            <td>{{ parcours.difficulty }} </td>
            <td>{{ parcours.cost }} € </td>
            <td>{{ parcours.maxParticipants }} </td>
            <td>{{ parcours.registeredParticipants }} </td>
        <tr>
    </table>
    <br>

</div>
{% endblock %}
