{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}: Détail du parcours {% endblock %}

{% block body %}
<style>
    .wrapper {
        margin: 20px;
        width: 100%;
        font: 18px/1.5 sans-serif;
    }

    .wrapper code {
        background: #F5F5F5;
    }

    th, td {
        min-width: 120px;
        padding : 20px;
    }

    .long-col {
        min-width: 300px;
    }
</style>

<div class="wrapper">

    <h1> {{ parcours.name }} </h1>

    <br>
    <div>
        <div>
            <h2> Direction {{ parcours.region.name }} </h2>
        </div>
        <div>
            <p> {{ parcours.description }} </p>
        </div>
        <div>
            <img src= "{{ asset( coverPicturePath )|imagine_filter('small') }}" alt="Cover Picture"/>
        <div>
        <div>
            <h3> Infos pratiques </h3>
            <ul>
                <li> Durée : {{ parcours.duration }} jours </li>
                <li> Difficulté : {{ parcours.difficulty }} </li>
                <li> Prix : {{ parcours.cost }} € </li>
                <li> Nb de places : {{ parcours.maxParticipants }}</li>
                <li> Nb d'inscrits : {{ parcours.registeredParticipants }} / {{ parcours.maxParticipants }} </li>
            </ul>
        </div>
    </div>
    <br>

</div>
{% endblock %}
