{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}: Liste des Parcours {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    th, td {
        padding : 15px;
    }
</style>

<div class="example-wrapper">
    <h1>Liste des parcours</h1>
    <div>
        <a href="{{ path('app_create_parcours') }}"><button type="button" class="btn btn-outline-primary">Add parcours</button></a>
    </div>

    <br>
    <table>
        <tr>
            <th> Intitulé </th>
            <th> Durée </th>
            <th> Région </th>
            <th> Description </th>
            <th> Coût </th>
        <tr>
        {% for parcours in parcoursList %} 
        <tr>
            <td>{{ parcours.name }}</td>
            <td>{{ parcours.duration }} jours</td>
            <td>{{ parcours.region.name }}</td>
            <td>{{ parcours.description }}</td>
            <td>{{ parcours.cost }} € </td>
        <tr>
        {% endfor %}
    </table>
    <br>

</div>
{% endblock %}
